<!DOCTYPE html>
<html lang="en">
  {{>head}}
  <body>

    {{>header}}
    
        <div>Please contact us with any quastion and sugestions... </div>
        <br>
        <form class="">
            <input class="form-control" placeholder="Your name" name="name"><br>
            <input class="form-control" placeholder="Your email" name="email"><br>
            <textarea class="form-control" placeholder="Message" rows="4" name="message"></textarea><br>
            <button class="btn btn-success">Submit</button>
        </form>
    
    {{>footer}}
    
    {{>bottom}}
  </body>
</html>
