<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <h2>Contact Us</h2>
            <div>Please contact us with any quastion and sugestions... </div>
            <br>
            <div class="contact-form">
                <form>
                    <input placeholder="Your name" name="name"><br>
                    <input placeholder="Your email" name="email"><br>
                    <textarea placeholder="Message" rows="4" name="message"></textarea><br>
                    <button>Submit</button>
                </form>
            </div>
        </div>
        {{>footer}}
    </body>
</html>