<!DOCTYPE html>
<html lang="en">
  {{>head}}
  <body>

    {{>header}}
    
        <h2>Weather search by {{name}}</h2> 
        <p>You can get weather and geodata by address, zip and etc.</p>
        <form>
            <input placeholder="Address, Zip">
            <button>Search</button>
        </form>   
        <p id="message-1"></p> 
        <p id="message-2"></p> 
    
    {{>footer}}
    
    {{>bottom}}
    <script src="/js/script.js"></script>
  </body>
</html>
