<!doctype html>
<html lang="en">
  {{>head}}
  <body>

    {{>header}}
    
      <p class="lead">Dear {{name}} Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>
      <p>Back to <a href="../sticky-footer/">the default sticky footer</a> minus the navbar.</p>
    
    {{>footer}}
    
    {{>bottom}}
  </body>
</html>